[Unit]
Description=Request SSO Certificate for Keycloak
After=docker.service
Requires=docker.service

[Service]
User=keycloak
RemainAfterExit=true
Type=oneshot
TimeoutStartSec=0
WorkingDirectory=/home/keycloak
ExecStartPre=-/run/current-system/sw/bin/docker compose -f /etc/nixos/resources/docker-compose/lego.yml down -v
ExecStartPre=-/run/current-system/sw/bin/docker compose -f /etc/nixos/resources/docker-compose/lego.yml rm -v
ExecStartPre=-/run/current-system/sw/bin/docker compose -f /etc/nixos/resources/docker-compose/lego.yml pull
ExecStart=/etc/nixos/resources/scripts/ssocert.sh
ExecStop=/run/current-system/sw/bin/docker compose -f /etc/nixos/resources/docker-compose/lego.yml down -v

[Install]
WantedBy=multi-user.target